/****************
    MAIN
****************/
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  user-select: none;
}
/****************
    NAVBAR
****************/
nav {
  background-color: #111;
  color: #fff;
  
}
nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999999999;
}

.navTop {
  padding: 15px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItem:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}

.navItem > i,
.navItem a i{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1e1e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer; 
  transition: background-color 0.5s;
}

.navItem > i:hover,
.navItem a i:hover {
  background-color: rgba(29, 30, 30, 0.5);
}
/****************
    SLIDER
****************/
.slider {
  background-color: #1d1e1e;
  background-image: url("./img/bg-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  height: 90vh;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 25px;
  color: #8c8c94;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 9;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.sliderWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.sliderItem {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}


.sliderImg {
  width: auto;
  height: 550px;
}

.sliderTitle {
  font-size: 60px;
  font-weight: 900;
  color: #fff;
  z-index: 1;
}

.sliderPrice {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  margin: 10px 0;
  border-bottom: 2px solid #55f2b7;
  width: fit-content;
}

.buyButton {
  outline: none;
  border: none;
  padding: 10px 25px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #55f2b7;
  border: 1px solid #55f2b7;
  transition: background-color 0.5s, color 0.5s;
}

.buyButton:hover {
  background-color: transparent;
  color: #55f2b7;
}
/****************
    FEATURES
****************/
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #1d1e1e;
  color: #fff;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.5s, background-color 0.5s;
  padding: 10px;
  border-radius: 2px;
}

.feature:hover {
  border-color: rgba(85, 242, 183, 0.2);
  background-color: rgba(255, 255, 255, 0.02);
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-style: 20px;
  font-weight: 600;
  margin: 10px;
}

.featureDesc {
  color: #8c8c94;
  width: 70%;
}
/****************
    PRODUCTS
****************/
.AllProductSection {
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 0 0;
}

.search {
  align-self: flex-start;
  margin-left: 20px;
  z-index: 9999;
  width: 350px;
  height: 60px;
  background-color: #1d1e1e;
  border-radius: 5px;
  overflow: hidden;
}

.search #searchInput {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.search #searchInput::placeholder {
  color: #8c8c94;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 0px;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.product {
  border: 1px solid rgba(85, 242, 183, 0.2);
  overflow: hidden;
  border-radius: 5px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.product:hover {
  background-color: rgba(255, 255, 255, 0.02);
}

.product .buyButton {
  width: fit-content;
}

.containerImg {
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.productImg {
  object-fit:scale-down;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.productDeatials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #Fff;
  background-color: #181818;

}

.addCart {
  background-color: #55f2b7;
  border: 1px solid #55f2b7;
  color: #1d1e1e;
  width: 35px;
  height:35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.addCart:hover {
  background-color: transparent;
  color: #55f2b7;
  border-color: #55f2b7;
}

hr {
  border-color: rgba(85, 242, 183, 0.2);
}

.productTitle {
  font-weight: 600;
}

.productPrice { 
  margin: 10px 0;
  font-weight: 800;
}
/****************
    GALLERY
****************/
.gallery {
  background-color: #1d1e1e;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 100px 220px;
  justify-items: center;
  align-items: center;
}
.gallery img {
  border-radius: 5px;
}
.G-Details {
  position: relative;
}
.hoverGallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 30, 30, 0.2);
  opacity: 0;
  transition: all 0.5s;
}

.hoverGallery i {
  font-size: 26px;
  color: #55f2b7;
}

.G-Details:hover .hoverGallery {
  opacity: 1;
  height: 100%;
}
/****************
    CONTACT
****************/
.contact {
  background-color: #181818;
  height: 70vh;
  width: 100%;
  display: flex;
  position: relative;
}
.contact-form {
  width: 90%;
  background-color: #181818;
  padding: 30px 90px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form h1 {
  color: #Fff;
  font-size: 46px;
}
.contact-form p {
  color: #8c8c94;
  font-size: 14px;
  margin-bottom: 40px;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
}
.contact-form input {
  height: 45px;
}
.contact-form .msg {
  height: 130px;
  resize: none;
}
.contact-form .btnSend {
  padding: 15px 60px;
  background-color: #55f2b7;
  color: #1d1e1e;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
}

.contact-form .btnSend:hover {
  background-color: rgba(85, 242, 183, 0.7);
}

.contact-social {
  width: 10%;
  background-color: #55f2b7;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 10px;
}

.contact-social a {
  text-decoration: none;
  color: #181818;
}
.contact-social i {
  font-size: 18px;
}
.contact-info {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 80%;
  width: 30%;
  background-color: #1d1e1e;
}
.contact-info h2 {
  padding: 20px;
  font-size: 34px;
  color: #fff;
}
.contact-info .contact-details {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-details i {
  font-size: 26px;
  color: #55f2b7;
  margin: 10px;
}
.contact-details span {
  font-size: 14px;
  color: #8c8c94;
}
/****************
    FOOTER
****************/
.footer {
  background-color: #141515;
  height: auto;
  color: #fff;
  padding: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.footer a {
  text-decoration: none;
  color: #55f2b7;
}
.footer a:any-link {
  color: #55f2b7;
}